#full-bnr .col-md-6.one{
    background-image: url(../img/bnr-full1.png);
    width: 50%;
     height: 100vh !important; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#full-bnr .col-md-6.two{
    /* background-color: #9F2733; */
    background-image: url(../img/fundo2.png);
    height: 100vh !important; 
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
}